<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/menu.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type=" text/javascript" src="/public/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Criar conta</a>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card col s12">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Nome" id="nome" name="nome" required type="text" class="validate">
                                <label for="nome">Nome</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Email" id="email" name="email" required type="email"
                                    class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Senha" id="senha" name="senha" required type="password"
                                    class="validate">
                                <label for="senha">Senha</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Confirmar senha" id="confirmarSenha" name="confirmarSenha" required
                                    type="password" class="validate">
                                <label for="confirmarSenha">Confirmar senha</label>
                            </div>
                        </div>
                        <div class="row col s12">
                            <div class="col s6">
                                <button class="btn waves-effect waves-light" id="button" type="submit" onclick="save()"
                                    name="action">Salvar</button>
                            </div>
                            <div class="col s6">
                                <p>Permissão:
                                    <label>
                                        <input name="permissao" id="permissao" value="ADMIN" type="radio" />
                                        <span>Admin</span>
                                    </label>
                                    <label>
                                        <input name="permissao" id="permissao" value="USER" type="radio" />
                                        <span>User</span>
                                    </label>
                                </p>
                            </div>
                            <div id="loading" class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <h6 style="color:green" id="success" />
                <h6 style="color:red" id="error" />
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.getElementById('loading').style.display = "none";
    function isEdicao() {
        var url = window.location.pathname.split('cadastrar/')[1]
        return url !== null && url !== undefined;
    }

    document.getElementById("button").addEventListener("click", function (event) {
        event.preventDefault()
    });
    async function save() {
        document.getElementById('button').style.display = "none";
        document.getElementById('loading').style.display = "block";
        var object = {};
        new FormData(document.querySelector('form'))
            .forEach(function (value, key) {
                object[key] = value;
            });

        await axios.post('/api/usuarios', object)
            .then(data => {
                window.location.href = '/login'
            })
            .catch(error => {
                document.getElementById('success').innerHTML = ''
                document.getElementById('error').innerHTML = error.response.data.message
            })
        document.getElementById('loading').style.display = "none";
        document.getElementById('button').style.display = "block";
    }
</script>

</html>