<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type=" text/javascript" src="/public/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Cadastrar Fornecedor</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card col s12">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Razão Social" id="razaoSocial" name="razaoSocial" required
                                    type="text" class="validate">
                                <label for="first_name">Razão Social</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="CNPJ" id="cnpj" name="cnpj" required type="text" class="validate">
                                <label for="first_name">CNPJ</label>
                            </div>
                        </div>
                        <div class="row col s12">
                            <button class="btn waves-effect waves-light" id="button" type="submit" onclick="save()"
                                name="action">Salvar</button>
                            <div id="loading" class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <h6 style="color:green" id="success" />
                <h6 style="color:red" id="error" />
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.getElementById('loading').style.display = "none";
    function isEdicao() {
        var url = window.location.pathname.split('cadastrar/')[1]
        return url !== null && url !== undefined;
    }

    function getId() {
        if (isEdicao()) {
            return window.location.pathname.split('cadastrar/')[1]
        }
    }

    if (isEdicao()) {
        getfornecedor(getId())
    }

    async function getfornecedor(id) {
        axios.get(`/api/fornecedor/${id}`)
            .then(res => {
                document.getElementById("razaoSocial").value = res.data.razaoSocial;
                document.getElementById("cnpj").value = res.data.cnpj;
            })
            .catch(error => {
                document.getElementById('success').innerHTML = ''
                document.getElementById('error').innerHTML = error.response.data.message
            })
    }

    document.getElementById("button").addEventListener("click", function (event) {
        event.preventDefault()
    });
    async function save() {
        document.getElementById('button').style.display = "none";
        document.getElementById('loading').style.display = "block";
        var object = {};
        new FormData(document.querySelector('form'))
            .forEach(function (value, key) {
                object[key] = value;
            });

        if (isEdicao()) {
            await axios.put(`/api/fornecedores/${getId()}`, object)
                .then(data => {
                    window.location.href = '/fornecedores/listar'
                })
                .catch(error => {
                    document.getElementById('success').innerHTML = ''
                    document.getElementById('error').innerHTML = error.response.data.message
                })
        } else {
            await axios.post('/api/fornecedores', object)
                .then(data => {
                    window.location.href = '/fornecedores/listar'
                })
                .catch(error => {
                    document.getElementById('success').innerHTML = ''
                    document.getElementById('error').innerHTML = error.response.data.message
                })
        }
        document.getElementById('loading').style.display = "none";
        document.getElementById('button').style.display = "block";
    }
</script>

</html>